.favouritesWrapper{
    padding-top: 120px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.clearButton{
    font-size: 1.2em;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.79);
    background-color: cadetblue;
    color: #d8e5f5;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 50px;
    right: 50px;
}